/major_project/public
/major_project/kaggle.json
/major_project/my_coarse
/major_project/projects_logs
/major_project/conv_model
/major_project/models
/major_project/private
/major_project/living-thing-classification-coarse-private
/major_project/living-thing-classification-fine-private